<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clanes - Clash of Clans Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Buscar Clan</h1>
    <form action="/search" method="post">
        <select name="type">
            <option value="player">Jugador</option>
            <option value="clan">Clan</option>
        </select>
        <input type="text" name="term" placeholder="Nombre del clan o jugador">
        <button type="submit">Buscar</button>
    </form>
    {% if clanes %}
    <h2>Clanes Encontrados</h2>
    <ul>
    {% for clan in clanes %}
        <li><a href="{{ url_for('detalle_clan', clan_tag=clan.tag) }}">{{ clan.name }} - Copas del Clan: {{ clan.clanPoints }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
</body>
</html>
